

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.esm.min.js" integrity="sha512-GX5RhAJTSxfAp80mSUfJ79enrS3h3pEKg8OrwsZSs1wKyrTROVat0pvgP5RS5DAHXeSXON6T4FoKapNDmTrdOw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.13.5/datatables.min.js"></script>
<script>

$(document).ready(function(){
    $("table").DataTable({
        order:[0,'desc']
    })
})

</script>
</body>
</html>